[Unit]
Description=%%l2tpstartupservicename%% Service
After=xl2tpd.service ipsec.service

[Service]
ExecStart=%%l2tpupfile%%
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
